# Project exclude paths
/HomeWork01-AGlassThatsHalfFull/target/
/HomeWork01-PinokioAndApple/target/
/HomeWork01-SarumanAndLannisters/target/
/HomeWork01-TheTaskOfTheNumberOfEmployeesOnTheProject/target/
/HomeWork01-MortgageDownPayment/target/
/HomeWork01-TravelTime/target/
/HomeWork01-DiscountsOnShirts/target/
